
// Colors variables declaration // 
$color-primary: #032541;
$color-secondary: #21d07a;
$color-white: #fff;
$bgcolor :  #FFDEE9;
$bgimage : linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%);
$cyan-color:#00FFFF;